.logoContainer {
  width: 154px;
  height: auto;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

.logoImage {
  width: 100%;
  height: auto;
}

.logoOutline {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.logoFull {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.logoOutline.hidden {
  opacity: 0;
}

.logoFull.visible {
  opacity: 1;
}

@media (min-width: 769px) {
  .logoOutline {
    opacity: 0 !important;
  }

  .logoFull {
    opacity: 1 !important;
  }
}

