@tailwind base;
@tailwind components;
@tailwind utilities;

@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-rotate-x: rotateX(0);
      --tw-rotate-y: rotateY(0);
      --tw-rotate-z: rotateZ(0);
      --tw-skew-x: skewX(0);
      --tw-skew-y: skewY(0);
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-outline-style: solid;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-black: #000;
    --color-white: #fff;
    --spacing: .25rem;
    --text-base: 1rem;
    --text-lg: 1.125rem;
    --text-xl: 1.25rem;
    --text-2xl: 1.5rem;
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-extrabold: 800;
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-font-feature-settings: var(--font-sans--font-feature-settings);
    --default-font-variation-settings: var(--font-sans--font-variation-settings);
    --default-mono-font-family: var(--font-mono);
    --default-mono-font-feature-settings: var(--font-mono--font-feature-settings);
    --default-mono-font-variation-settings: var(--font-mono--font-variation-settings);
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
    color: currentColor;
  }

  @supports (color: color-mix(in lab, red, red)) {
    ::placeholder {
      color: color-mix(in oklab, currentColor 50%, transparent);
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }

  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  @supports (color: color-mix(in lab, red, red)) {
    * {
      outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
    }
  }

  * {
    border-color: var(--border);
    outline-color: var(--ring);
  }

  @supports (color: color-mix(in lab, red, red)) {
    * {
      outline-color: color-mix(in oklab, var(--ring) 50%, transparent);
    }
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h1 {
    font-size: var(--text-2xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h2 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h3 {
    font-size: var(--text-lg);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h4 {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) p {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) label, :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) button {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
    line-height: 1.5;
  }

  :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) input {
    font-size: var(--text-base);
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
  }
}

@layer utilities {
  .pointer-events-auto {
    pointer-events: auto;
  }

  .pointer-events-none {
    pointer-events: none;
  }

  .absolute {
    position: absolute;
  }

  .relative {
    position: relative;
  }

  .inset-0 {
    inset: calc(var(--spacing) * 0);
  }

  .inset-\[0\.52\%_45\.91\%_0\.36\%_44\.45\%\] {
    inset: .52% 45.91% .36% 44.45%;
  }

  .inset-\[0\.72\%_13\.97\%_0\.42\%_73\.56\%\] {
    inset: .72% 13.97% .42% 73.56%;
  }

  .inset-\[0\.75\%_68\.54\%_0\.39\%_18\.67\%\] {
    inset: .75% 68.54% .39% 18.67%;
  }

  .inset-\[0\.83\%_27\.17\%_0\.39\%_66\.06\%\] {
    inset: .83% 27.17% .39% 66.06%;
  }

  .inset-\[2\.35\%_56\.48\%_1\.09\%_31\.92\%\] {
    inset: 2.35% 56.48% 1.09% 31.92%;
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .top-\[-34px\] {
    top: -34px;
  }

  .top-\[-71px\] {
    top: -71px;
  }

  .top-\[0\.72\%\] {
    top: .72%;
  }

  .top-\[2\.6\%\] {
    top: 2.6%;
  }

  .top-\[24px\] {
    top: 24px;
  }

  .top-\[40px\] {
    top: 40px;
  }

  .top-\[73px\] {
    top: 73px;
  }

  .top-\[80px\] {
    top: 80px;
  }

  .top-\[100px\] {
    top: 100px;
  }

  .top-\[110px\] {
    top: 110px;
  }

  .top-\[113px\] {
    top: 113px;
  }

  .top-\[128px\] {
    top: 128px;
  }

  .top-\[142px\] {
    top: 142px;
  }

  .top-\[165px\] {
    top: 165px;
  }

  .top-\[169px\] {
    top: 169px;
  }

  .top-\[181px\] {
    top: 181px;
  }

  .top-\[224px\] {
    top: 224px;
  }

  .top-\[233px\] {
    top: 233px;
  }

  .top-\[240px\] {
    top: 240px;
  }

  .top-\[242px\] {
    top: 242px;
  }

  .top-\[268px\] {
    top: 268px;
  }

  .top-\[282px\] {
    top: 282px;
  }

  .top-\[293px\] {
    top: 293px;
  }

  .top-\[297px\] {
    top: 297px;
  }

  .top-\[302px\] {
    top: 302px;
  }

  .top-\[303px\] {
    top: 303px;
  }

  .top-\[308px\] {
    top: 308px;
  }

  .top-\[313px\] {
    top: 313px;
  }

  .top-\[314px\] {
    top: 314px;
  }

  .top-\[336px\] {
    top: 336px;
  }

  .top-\[346px\] {
    top: 346px;
  }

  .top-\[347px\] {
    top: 347px;
  }

  .top-\[360px\] {
    top: 360px;
  }

  .top-\[371px\] {
    top: 371px;
  }

  .top-\[375px\] {
    top: 375px;
  }

  .top-\[382px\] {
    top: 382px;
  }

  .top-\[384px\] {
    top: 384px;
  }

  .top-\[390px\] {
    top: 390px;
  }

  .top-\[392px\] {
    top: 392px;
  }

  .top-\[393px\] {
    top: 393px;
  }

  .top-\[408px\] {
    top: 408px;
  }

  .top-\[412px\] {
    top: 412px;
  }

  .top-\[433px\] {
    top: 433px;
  }

  .top-\[441px\] {
    top: 441px;
  }

  .top-\[451px\] {
    top: 451px;
  }

  .top-\[452px\] {
    top: 452px;
  }

  .top-\[463px\] {
    top: 463px;
  }

  .top-\[467px\] {
    top: 467px;
  }

  .top-\[472px\] {
    top: 472px;
  }

  .top-\[477px\] {
    top: 477px;
  }

  .top-\[500px\] {
    top: 500px;
  }

  .top-\[502px\] {
    top: 502px;
  }

  .top-\[515px\] {
    top: 515px;
  }

  .top-\[521px\] {
    top: 521px;
  }

  .top-\[527px\] {
    top: 527px;
  }

  .top-\[532px\] {
    top: 532px;
  }

  .top-\[564px\] {
    top: 564px;
  }

  .top-\[571px\] {
    top: 571px;
  }

  .top-\[584px\] {
    top: 584px;
  }

  .top-\[590px\] {
    top: 590px;
  }

  .top-\[598px\] {
    top: 598px;
  }

  .top-\[612px\] {
    top: 612px;
  }

  .top-\[630px\] {
    top: 630px;
  }

  .top-\[638px\] {
    top: 638px;
  }

  .top-\[641px\] {
    top: 641px;
  }

  .top-\[650px\] {
    top: 650px;
  }

  .top-\[692px\] {
    top: 692px;
  }

  .top-\[717px\] {
    top: 717px;
  }

  .top-\[754px\] {
    top: 754px;
  }

  .top-\[770px\] {
    top: 770px;
  }

  .top-\[780px\] {
    top: 780px;
  }

  .top-\[782px\] {
    top: 782px;
  }

  .top-\[786\.68px\] {
    top: 786.68px;
  }

  .top-\[789px\] {
    top: 789px;
  }

  .top-\[797px\] {
    top: 797px;
  }

  .top-\[806px\] {
    top: 806px;
  }

  .top-\[817px\] {
    top: 817px;
  }

  .top-\[841px\] {
    top: 841px;
  }

  .top-\[842px\] {
    top: 842px;
  }

  .top-\[887px\] {
    top: 887px;
  }

  .top-\[901px\] {
    top: 901px;
  }

  .top-\[966px\] {
    top: 966px;
  }

  .top-\[981px\] {
    top: 981px;
  }

  .top-\[1036px\] {
    top: 1036px;
  }

  .right-0 {
    right: calc(var(--spacing) * 0);
  }

  .right-\[34\.37\%\] {
    right: 34.37%;
  }

  .right-\[82\.3\%\] {
    right: 82.3%;
  }

  .bottom-0 {
    bottom: calc(var(--spacing) * 0);
  }

  .bottom-\[0\.36\%\] {
    bottom: .36%;
  }

  .bottom-\[0\.51\%\] {
    bottom: .51%;
  }

  .left-0 {
    left: calc(var(--spacing) * 0);
  }

  .left-\[-10px\] {
    left: -10px;
  }

  .left-\[-11px\] {
    left: -11px;
  }

  .left-\[-57px\] {
    left: -57px;
  }

  .left-\[-67\.14px\] {
    left: -67.14px;
  }

  .left-\[-67px\] {
    left: -67px;
  }

  .left-\[-112px\] {
    left: -112px;
  }

  .left-\[13px\] {
    left: 13px;
  }

  .left-\[24px\] {
    left: 24px;
  }

  .left-\[28px\] {
    left: 28px;
  }

  .left-\[29px\] {
    left: 29px;
  }

  .left-\[30px\] {
    left: 30px;
  }

  .left-\[31px\] {
    left: 31px;
  }

  .left-\[32px\] {
    left: 32px;
  }

  .left-\[33px\] {
    left: 33px;
  }

  .left-\[34px\] {
    left: 34px;
  }

  .left-\[54\.61\%\] {
    left: 54.61%;
  }

  .left-\[56\.06px\] {
    left: 56.06px;
  }

  .left-\[60px\] {
    left: 60px;
  }

  .left-\[62px\] {
    left: 62px;
  }

  .left-\[64px\] {
    left: 64px;
  }

  .left-\[69\.3px\] {
    left: 69.3px;
  }

  .left-\[86\.72\%\] {
    left: 86.72%;
  }

  .left-\[89px\] {
    left: 89px;
  }

  .left-\[91px\] {
    left: 91px;
  }

  .left-\[101px\] {
    left: 101px;
  }

  .left-\[108px\] {
    left: 108px;
  }

  .left-\[135px\] {
    left: 135px;
  }

  .left-\[137px\] {
    left: 137px;
  }

  .left-\[175px\] {
    left: 175px;
  }

  .left-\[177px\] {
    left: 177px;
  }

  .left-\[179px\] {
    left: 179px;
  }

  .left-\[182px\] {
    left: 182px;
  }

  .left-\[211px\] {
    left: 211px;
  }

  .left-\[236px\] {
    left: 236px;
  }

  .left-\[241px\] {
    left: 241px;
  }

  .left-\[246px\] {
    left: 246px;
  }

  .left-\[251px\] {
    left: 251px;
  }

  .left-\[253px\] {
    left: 253px;
  }

  .left-\[254px\] {
    left: 254px;
  }

  .left-\[261px\] {
    left: 261px;
  }

  .left-\[262px\] {
    left: 262px;
  }

  .left-\[273px\] {
    left: 273px;
  }

  .left-\[275px\] {
    left: 275px;
  }

  .left-\[305px\] {
    left: 305px;
  }

  .left-\[307px\] {
    left: 307px;
  }

  .left-\[341px\] {
    left: 341px;
  }

  .left-\[349px\] {
    left: 349px;
  }

  .left-\[360px\] {
    left: 360px;
  }

  .left-\[363px\] {
    left: 363px;
  }

  .left-\[367px\] {
    left: 367px;
  }

  .left-\[392px\] {
    left: 392px;
  }

  .left-\[396px\] {
    left: 396px;
  }

  .left-\[411px\] {
    left: 411px;
  }

  .left-\[445px\] {
    left: 445px;
  }

  .left-\[537px\] {
    left: 537px;
  }

  .left-\[540px\] {
    left: 540px;
  }

  .left-\[554px\] {
    left: 554px;
  }

  .left-\[623px\] {
    left: 623px;
  }

  .left-\[627px\] {
    left: 627px;
  }

  .left-\[684px\] {
    left: 684px;
  }

  .left-\[734px\] {
    left: 734px;
  }

  .left-\[757px\] {
    left: 757px;
  }

  .left-\[759px\] {
    left: 759px;
  }

  .left-\[773px\] {
    left: 773px;
  }

  .left-\[811px\] {
    left: 811px;
  }

  .left-\[816px\] {
    left: 816px;
  }

  .left-\[906px\] {
    left: 906px;
  }

  .left-\[930px\] {
    left: 930px;
  }

  .left-\[1052px\] {
    left: 1052px;
  }

  .left-\[1063px\] {
    left: 1063px;
  }

  .left-\[1104px\] {
    left: 1104px;
  }

  .left-\[1255px\] {
    left: 1255px;
  }

  .left-\[1276px\] {
    left: 1276px;
  }

  .left-\[1289px\] {
    left: 1289px;
  }

  .z-10 {
    z-index: 10;
  }

  .mr-\[-1px\] {
    margin-right: -1px;
  }

  .mb-0 {
    margin-bottom: calc(var(--spacing) * 0);
  }

  .mb-\[-1px\] {
    margin-bottom: -1px;
  }

  .box-border {
    box-sizing: border-box;
  }

  .block {
    display: block;
  }

  .contents {
    display: contents;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .size-\[20px\] {
    width: 20px;
    height: 20px;
  }

  .size-\[30px\] {
    width: 30px;
    height: 30px;
  }

  .size-\[34\.393px\] {
    width: 34.393px;
    height: 34.393px;
  }

  .size-\[64\.487px\] {
    width: 64.487px;
    height: 64.487px;
  }

  .size-\[74px\] {
    width: 74px;
    height: 74px;
  }

  .size-\[80px\] {
    width: 80px;
    height: 80px;
  }

  .size-\[150px\] {
    width: 150px;
    height: 150px;
  }

  .size-full {
    width: 100%;
    height: 100%;
  }

  .h-\[17px\] {
    height: 17px;
  }

  .h-\[21px\] {
    height: 21px;
  }

  .h-\[27px\] {
    height: 27px;
  }

  .h-\[29px\] {
    height: 29px;
  }

  .h-\[30\.784px\] {
    height: 30.784px;
  }

  .h-\[36px\] {
    height: 36px;
  }

  .h-\[59px\] {
    height: 59px;
  }

  .h-\[64\.487px\] {
    height: 64.487px;
  }

  .h-\[64\.937px\] {
    height: 64.937px;
  }

  .h-\[138px\] {
    height: 138px;
  }

  .h-\[150px\] {
    height: 150px;
  }

  .h-\[179px\] {
    height: 179px;
  }

  .h-\[230px\] {
    height: 230px;
  }

  .h-\[368px\] {
    height: 368px;
  }

  .h-\[443\.623px\] {
    height: 443.623px;
  }

  .h-\[510\.239px\] {
    height: 510.239px;
  }

  .h-\[693px\] {
    height: 693px;
  }

  .h-\[1089px\] {
    height: 1089px;
  }

  .h-\[1120px\] {
    height: 1120px;
  }

  .h-\[1156px\] {
    height: 1156px;
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.4875309467315674\)\+\(var\(--transform-inner-height\)\*0\.8731057047843933\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .487531)  + (var(--transform-inner-height) * .873106)));
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.6869152188301086\)\+\(var\(--transform-inner-height\)\*0\.7267375588417053\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .686915)  + (var(--transform-inner-height) * .726738)));
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.6902877688407898\)\+\(var\(--transform-inner-height\)\*0\.7235349416732788\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .690288)  + (var(--transform-inner-height) * .723535)));
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.7999460101127625\)\+\(var\(--transform-inner-height\)\*0\.6000719666481018\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .799946)  + (var(--transform-inner-height) * .600072)));
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.9584358930587769\)\+\(var\(--transform-inner-height\)\*0\.025157669559121132\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .958436)  + (var(--transform-inner-height) * .0251577)));
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.24939970672130585\)\+\(var\(--transform-inner-height\)\*0\.9684006571769714\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .2494)  + (var(--transform-inner-height) * .968401)));
  }

  .h-\[calc\(1px\*\(\(var\(--transform-inner-width\)\*0\.43240979313850403\)\+\(var\(--transform-inner-height\)\*0\.9016771912574768\)\)\)\] {
    height: calc(1px * ((var(--transform-inner-width) * .43241)  + (var(--transform-inner-height) * .901677)));
  }

  .h-screen {
    height: 100vh;
  }

  .min-h-screen {
    min-height: 100vh;
  }

  .w-\[16px\] {
    width: 16px;
  }

  .w-\[20px\] {
    width: 20px;
  }

  .w-\[26px\] {
    width: 26px;
  }

  .w-\[31px\] {
    width: 31px;
  }

  .w-\[65px\] {
    width: 65px;
  }

  .w-\[130px\] {
    width: 130px;
  }

  .w-\[137\.151px\] {
    width: 137.151px;
  }

  .w-\[156px\] {
    width: 156px;
  }

  .w-\[180px\] {
    width: 180px;
  }

  .w-\[193\.461px\] {
    width: 193.461px;
  }

  .w-\[224px\] {
    width: 224px;
  }

  .w-\[277px\] {
    width: 277px;
  }

  .w-\[289\.448px\] {
    width: 289.448px;
  }

  .w-\[297\.333px\] {
    width: 297.333px;
  }

  .w-\[313px\] {
    width: 313px;
  }

  .w-\[320px\] {
    width: 320px;
  }

  .w-\[322px\] {
    width: 322px;
  }

  .w-\[339\.58px\] {
    width: 339.58px;
  }

  .w-\[340px\] {
    width: 340px;
  }

  .w-\[371px\] {
    width: 371px;
  }

  .w-\[385px\] {
    width: 385px;
  }

  .w-\[386px\] {
    width: 386px;
  }

  .w-\[450px\] {
    width: 450px;
  }

  .w-\[545px\] {
    width: 545px;
  }

  .w-\[561px\] {
    width: 561px;
  }

  .w-\[646px\] {
    width: 646px;
  }

  .w-\[932px\] {
    width: 932px;
  }

  .w-\[1440px\] {
    width: 1440px;
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.4875309467315674\)\+\(var\(--transform-inner-width\)\*0\.8731057047843933\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .487531)  + (var(--transform-inner-width) * .873106)));
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.6869152188301086\)\+\(var\(--transform-inner-width\)\*0\.7267375588417053\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .686915)  + (var(--transform-inner-width) * .726738)));
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.6902877688407898\)\+\(var\(--transform-inner-width\)\*0\.7235349416732788\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .690288)  + (var(--transform-inner-width) * .723535)));
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.7999460101127625\)\+\(var\(--transform-inner-width\)\*0\.6000719666481018\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .799946)  + (var(--transform-inner-width) * .600072)));
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.9996834397315979\)\+\(var\(--transform-inner-width\)\*0\.28530797362327576\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .999683)  + (var(--transform-inner-width) * .285308)));
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.24939970672130585\)\+\(var\(--transform-inner-width\)\*0\.9684006571769714\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .2494)  + (var(--transform-inner-width) * .968401)));
  }

  .w-\[calc\(1px\*\(\(var\(--transform-inner-height\)\*0\.43240979313850403\)\+\(var\(--transform-inner-width\)\*0\.9016771912574768\)\)\)\] {
    width: calc(1px * ((var(--transform-inner-height) * .43241)  + (var(--transform-inner-width) * .901677)));
  }

  .w-full {
    width: 100%;
  }

  .max-w-none {
    max-width: none;
  }

  .flex-none {
    flex: none;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .rotate-\[14\.442deg\] {
    rotate: 14.442deg;
  }

  .rotate-\[29\.178deg\] {
    rotate: 29.178deg;
  }

  .rotate-\[43\.653deg\] {
    rotate: 43.653deg;
  }

  .rotate-\[53\.125deg\] {
    rotate: 53.125deg;
  }

  .rotate-\[106\.577deg\] {
    rotate: 106.577deg;
  }

  .rotate-\[316\.614deg\] {
    rotate: 316.614deg;
  }

  .rotate-\[334\.379deg\] {
    rotate: 334.379deg;
  }

  .skew-x-\[14\.634deg\] {
    --tw-skew-x: skewX(14.634deg);
    transform: var(--tw-rotate-x) var(--tw-rotate-y) var(--tw-rotate-z) var(--tw-skew-x) var(--tw-skew-y);
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .resize {
    resize: both;
  }

  .flex-col {
    flex-direction: column;
  }

  .content-stretch {
    align-content: stretch;
  }

  .items-center {
    align-items: center;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-center {
    justify-content: center;
  }

  .gap-\[10px\] {
    gap: 10px;
  }

  .gap-\[19px\] {
    gap: 19px;
  }

  .gap-\[30px\] {
    gap: 30px;
  }

  .gap-\[40px\] {
    gap: 40px;
  }

  .overflow-auto {
    overflow: auto;
  }

  .overflow-clip {
    overflow: clip;
  }

  .rounded-tl-\[50px\] {
    border-top-left-radius: 50px;
  }

  .rounded-tr-\[50px\] {
    border-top-right-radius: 50px;
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-solid {
    --tw-border-style: solid;
    border-style: solid;
  }

  .border-\[\#ebebeb\] {
    border-color: #ebebeb;
  }

  .bg-\[\#006b3d\] {
    background-color: #006b3d;
  }

  .bg-\[\#8a5500\] {
    background-color: #8a5500;
  }

  .bg-\[\#bfbfbf\] {
    background-color: #bfbfbf;
  }

  .bg-\[\#f2f2f2\] {
    background-color: #f2f2f2;
  }

  .bg-\[\#f7f4ed\] {
    background-color: #f7f4ed;
  }

  .bg-\[\#f7f7f7\] {
    background-color: #f7f7f7;
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .bg-size-\[600px_600px\] {
    background-size: 600px 600px;
  }

  .bg-top-left {
    background-position: 0 0;
  }

  .bg-repeat {
    background-repeat: repeat;
  }

  .object-contain {
    object-fit: contain;
  }

  .p-\[10px\] {
    padding: 10px;
  }

  .px-0 {
    padding-inline: calc(var(--spacing) * 0);
  }

  .py-0 {
    padding-block: calc(var(--spacing) * 0);
  }

  .pt-0 {
    padding-top: calc(var(--spacing) * 0);
  }

  .pr-px {
    padding-right: 1px;
  }

  .pb-px {
    padding-bottom: 1px;
  }

  .pl-0 {
    padding-left: calc(var(--spacing) * 0);
  }

  .font-\[\'Outfit\:SemiBold\'\,sans-serif\] {
    font-family: Outfit\:SemiBold, sans-serif;
  }

  .font-\[\'Syne\:Bold\'\,sans-serif\] {
    font-family: Syne\:Bold, sans-serif;
  }

  .font-\[\'Syne\:SemiBold\'\,sans-serif\] {
    font-family: Syne\:SemiBold, sans-serif;
  }

  .font-\[\'Work_Sans\:Medium\'\,sans-serif\] {
    font-family: Work Sans\:Medium, sans-serif;
  }

  .text-\[0px\] {
    font-size: 0;
  }

  .text-\[16px\] {
    font-size: 16px;
  }

  .text-\[24px\] {
    font-size: 24px;
  }

  .text-\[32px\] {
    font-size: 32px;
  }

  .text-\[36px\] {
    font-size: 36px;
  }

  .text-\[48px\] {
    font-size: 48px;
  }

  .text-\[64px\] {
    font-size: 64px;
  }

  .leading-\[normal\] {
    --tw-leading: normal;
    line-height: normal;
  }

  .font-extrabold {
    --tw-font-weight: var(--font-weight-extrabold);
    font-weight: var(--font-weight-extrabold);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .text-nowrap {
    text-wrap: nowrap;
  }

  .whitespace-pre {
    white-space: pre;
  }

  .whitespace-pre-wrap {
    white-space: pre-wrap;
  }

  .text-\[\#1a1a1a\] {
    color: #1a1a1a;
  }

  .text-\[\#006b3d\] {
    color: #006b3d;
  }

  .text-\[\#8a5500\] {
    color: #8a5500;
  }

  .text-\[\#bfbfbf\] {
    color: #bfbfbf;
  }

  .text-\[\#c91f1f\] {
    color: #c91f1f;
  }

  .text-black {
    color: var(--color-black);
  }

  .underline {
    text-decoration-line: underline;
  }

  .decoration-\[\#006b3d\] {
    text-decoration-color: #006b3d;
  }

  .\[text-decoration-style\:initial\] {
    -webkit-text-decoration-style: initial;
    text-decoration-style: initial;
  }

  .opacity-30 {
    opacity: .3;
  }

  .opacity-50 {
    opacity: .5;
  }

  .opacity-70 {
    opacity: .7;
  }

  .opacity-\[0\.15\] {
    opacity: .15;
  }

  .mix-blend-overlay {
    mix-blend-mode: overlay;
  }

  .outline {
    outline-style: var(--tw-outline-style);
    outline-width: 1px;
  }

  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .\[text-decoration-skip-ink\:none\] {
    text-decoration-skip-ink: none;
  }

  .\[text-underline-position\:from-font\] {
    text-underline-position: from-font;
  }

  @media (hover: hover) {
    .hover\:opacity-70:hover {
      opacity: .7;
    }
  }
}

:root {
  --font-size: 16px;
  --background: #fff;
  --foreground: oklch(.145 0 0);
  --card: #fff;
  --card-foreground: oklch(.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(.145 0 0);
  --primary: #030213;
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(.95 .0058 264.53);
  --secondary-foreground: #030213;
  --muted: #ececf0;
  --muted-foreground: #717182;
  --accent: #e9ebef;
  --accent-foreground: #030213;
  --destructive: #d4183d;
  --destructive-foreground: #fff;
  --border: #0000001a;
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --ring: oklch(.708 0 0);
  --chart-1: oklch(.646 .222 41.116);
  --chart-2: oklch(.6 .118 184.704);
  --chart-3: oklch(.398 .07 227.392);
  --chart-4: oklch(.828 .189 84.429);
  --chart-5: oklch(.769 .188 70.08);
  --radius: .625rem;
  --sidebar: oklch(.985 0 0);
  --sidebar-foreground: oklch(.145 0 0);
  --sidebar-primary: #030213;
  --sidebar-primary-foreground: oklch(.985 0 0);
  --sidebar-accent: oklch(.97 0 0);
  --sidebar-accent-foreground: oklch(.205 0 0);
  --sidebar-border: oklch(.922 0 0);
  --sidebar-ring: oklch(.708 0 0);
}

.dark {
  --background: oklch(.145 0 0);
  --foreground: oklch(.985 0 0);
  --card: oklch(.145 0 0);
  --card-foreground: oklch(.985 0 0);
  --popover: oklch(.145 0 0);
  --popover-foreground: oklch(.985 0 0);
  --primary: oklch(.985 0 0);
  --primary-foreground: oklch(.205 0 0);
  --secondary: oklch(.269 0 0);
  --secondary-foreground: oklch(.985 0 0);
  --muted: oklch(.269 0 0);
  --muted-foreground: oklch(.708 0 0);
  --accent: oklch(.269 0 0);
  --accent-foreground: oklch(.985 0 0);
  --destructive: oklch(.396 .141 25.723);
  --destructive-foreground: oklch(.637 .237 25.331);
  --border: oklch(.269 0 0);
  --input: oklch(.269 0 0);
  --ring: oklch(.439 0 0);
  --font-weight-medium: 500;
  --font-weight-normal: 400;
  --chart-1: oklch(.488 .243 264.376);
  --chart-2: oklch(.696 .17 162.48);
  --chart-3: oklch(.769 .188 70.08);
  --chart-4: oklch(.627 .265 303.9);
  --chart-5: oklch(.645 .246 16.439);
  --sidebar: oklch(.205 0 0);
  --sidebar-foreground: oklch(.985 0 0);
  --sidebar-primary: oklch(.488 .243 264.376);
  --sidebar-primary-foreground: oklch(.985 0 0);
  --sidebar-accent: oklch(.269 0 0);
  --sidebar-accent-foreground: oklch(.985 0 0);
  --sidebar-border: oklch(.269 0 0);
  --sidebar-ring: oklch(.439 0 0);
}

html {
  font-size: var(--font-size);
}

@property --tw-rotate-x {
  syntax: "*";
  inherits: false;
  initial-value: rotateX(0);
}

@property --tw-rotate-y {
  syntax: "*";
  inherits: false;
  initial-value: rotateY(0);
}

@property --tw-rotate-z {
  syntax: "*";
  inherits: false;
  initial-value: rotateZ(0);
}

@property --tw-skew-x {
  syntax: "*";
  inherits: false;
  initial-value: skewX(0);
}

@property --tw-skew-y {
  syntax: "*";
  inherits: false;
  initial-value: skewY(0);
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-outline-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}